/* main-nav */
.main-nav {
  position: fixed;
  bottom: 0;
  left: 0;
  z-index: 100;
  padding: 20px 0;
}
.main-nav-list {
  padding: 20px;
}
.main-nav-item > a {
  position: relative;
  font-size: 78px;
  font-weight: 700;
  color: lawngreen;
  line-height: 1;
}
.main-nav-item > a::before {
  content: '';
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  width: 0;
  height: 10px;
  background-color: lawngreen;
  transition: width 200ms ease-in-out;
}
.main-nav-item:hover > a::before {
  width: 100%;
}
/* citizens */
.citizens {
  position: relative;
  margin-top: 180px;
}
.citizen-list {
  align-items: baseline;
}
.citizen-item {
  cursor: pointer;
}
.citizen-item img {
  filter: blur(4px);
  transition: filter 300ms ease-in-out;
}
.citizen-item.swiper-slide-active img {
  filter: blur(0);
}
.citizens .swiper-slide {
  vertical-align: bottom;
}
